@charset "UTF-8";

/* 시작: css 공통 변수 */
:root {
  --color-primary: var(--color-blue-40);
  --color-blue-officecon: #202b9c;
  --color-blue-40: #4165f8;
  --color-blue-20: #c3e1ff;
  --color-blue-10: #f0f6ff;
  --color-blue-grayish: #778198;
  --color-blue-grayish-light: #c3c7d0;
  --color-purple-40: #6943d2;
  --color-purple-30: #8871ea;
  --color-orange-officecon: #ec6c23;
  --color-orange-20: #fedfb7;
  --color-red-40: #da3030;
  --color-red-30: #eb6161;
  --color-level-silver: #8b95ac;
  --color-level-gold: #b58e57;
  --color-level-diamond: #25a3b2;
  --color-natural-0: #000000;
  --color-natural-10: #3b3b3b;
  --color-natural-20: #4d4d4d;
  --color-natural-30: #7e7e7e;
  --color-natural-40: #949494;
  --color-natural-50: #aaaaaa;
  --color-natural-60: #d2d2d2;
  --color-natural-70: #dddddd;
  --color-natural-80: #e6e6e6;
  --color-natural-90: #efefef;
  --color-natural-95: #f5f5f5;
  --color-natural-98: #fafafa;
  --color-natural-100: #ffffff;
  --color-opacity-black-70: rgba(0, 0, 0, 0.7);
  --color-opacity-black-50: rgba(0, 0, 0, 0.5);
  --color-opacity-black-30: rgba(0, 0, 0, 0.3);
  --color-opacity-black-20: rgba(0, 0, 0, 0.2);
  --color-opacity-black-8: rgba(0, 0, 0, 0.08);
  --color-opacity-black-3: rgba(0, 0, 0, 0.03);
  --color-opacity-white-70: rgba(255, 255, 255, 0.7);
  --color-opacity-white-50: rgba(255, 255, 255, 0.5);
  --color-background-gradient-white: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) -25.49%,
    rgba(255, 255, 255, 1) 68.87%
  );
  --color-background-gradient-gray: linear-gradient(
    to right,
    rgba(245, 245, 245, 0) -25.49%,
    rgba(245, 245, 245, 1) 68.87%
  );
  --color-background-gradient-black: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.03) 100%
  );
  --color-background-gradient-soft: linear-gradient(
    to right,
    rgba(255, 231, 231, 1) 0%,
    rgba(255, 243, 236, 1) 54.33%,
    rgba(235, 233, 255, 1) 100%
  );
  --color-background-gradient-orangeRed: linear-gradient(
    112deg,
    rgba(236, 108, 35, 1) 16.32%,
    rgba(241, 66, 53, 1) 92.38%
  );
  --color-background-gradient-colorful: linear-gradient(
    to right,
    rgba(230, 97, 99, 1) 0%,
    rgba(243, 123, 85, 1) 52.88%,
    rgba(105, 100, 200, 1) 100%
  );
  --color-boxShadow-1: 0px 0px 50px 0px rgba(0, 0, 0, 0.3); /* popup */
  --color-boxShadow-2: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); /* 이벤트 카드 배너 */
  --color-boxShadow-3: 0px 2px 20px 0px rgba(0, 0, 0, 0.2); /* dropdown menu, layer */
  --color-boxShadow-4: 0px 2px 10px 0px rgba(0, 0, 0, 0.1); /* 스크롤GNB메뉴, 메인배너, 필터 브랜드 버튼 */
  --color-boxShadow-5: 0px -4px 10px 0px rgba(0, 0, 0, 0.05); /* 서브 탭메뉴 */
  --layout-container-width: 1240px;
  --layout-container-padding: 20px;
  --layout-width: calc(
    var(--layout-container-width) + var(--layout-container-padding) * 2
  );
  --layout-padding: 0 var(--layout-container-padding);
  --layout-top-banner-height: 40px;
  --layout-header-top-height: 32px;
  --layout-header-sticky-height: 84px;
  --layout-gnb-height: 60px;
  --layout-footer-height: 352px;
  --layout-home-content-width: 886px;
  --layout-home-aside-width: 322px;
  --zindex-fixed: 1030;
}
el-wrapper.personal-member {
  --color-primary: var(--color-orange-officecon);
}
/* 종료: css 공통 변수 */

/* 시작: reset */
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Pretendard-Regular.subset.woff2') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Pretendard-Bold.subset.woff2') format('woff2');
}
html,
body,
input,
textarea,
button,
select,
table,
td,
th,
pre {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Malgun Gothic',
    '맑은 고딕', 'Segoe UI', Roboto, sans-serif;
  color: var(--color-natural-0);
  font-weight: 400;
  letter-spacing: -0.48px;
  font-size: 16px;
  line-height: 1.5;
}
html {
  scroll-behavior: auto !important;
  text-underline-offset: 2px;
}
body {
  /* bootstrap의 모달 팝업 노출 시 스크롤바 width 확보하는 padding 제거 */
  padding-right: 0 !important;
}
a {
  text-decoration: none;
  color: var(--color-natural-0);
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p,
pre,
address {
  margin: 0;
  padding: 0;
  letter-spacing: inherit;
  color: inherit;
  line-height: inherit;
}
li {
  list-style: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  letter-spacing: inherit;
  color: inherit;
  line-height: inherit;
}
/* 종료: reset */

/* 시작: 공통 > typography */
.typo-heading-sm {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
}
.typo-heading-md {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.9px;
}
.typo-heading-lg {
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -1.02px;
}
.typo-subtitle-sm {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.54px;
}
.typo-subtitle-md {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.6px;
}
.typo-subtitle-lg {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.66px;
}
.typo-body-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.42px;
}
.typo-body-md {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.45px;
}
.typo-body-lg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.48px;
}
.typo-label-sm {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.33px;
}
.typo-label-md {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.36px;
}
.typo-label-lg {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.39px;
}
.typo-weight-default {
  font-weight: 400;
}
.typo-weight-em {
  font-weight: 600;
}
.typo-weight-bold {
  font-weight: 700;
}
/* 종료: 공통 > typography */

/* 시작: 공통 > icon */
el-icon {
  display: inline-block;
  width: 0px;
  height: 0px;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-size: cover;
  pointer-events: none; /* 클릭 이벤트를 부모 요소로 전달 */
  overflow: hidden;
  text-indent: -9999px;
  background-color: var(--color-natural-100);
  &.natural-0 {
    background-color: var(--color-natural-0);
  }
  &.natural-10 {
    background-color: var(--color-natural-10);
  }
  &.natural-20 {
    background-color: var(--color-natural-20);
  }
  &.natural-30 {
    background-color: var(--color-natural-30);
  }
  &.natural-40 {
    background-color: var(--color-natural-40);
  }
  &.natural-50 {
    background-color: var(--color-natural-50);
  }
  &.natural-60 {
    background-color: var(--color-natural-60);
  }
  &.natural-70 {
    background-color: var(--color-natural-70);
  }
  &.natural-80 {
    background-color: var(--color-natural-80);
  }
  &.natural-90 {
    background-color: var(--color-natural-90);
  }
  &.natural-95 {
    background-color: var(--color-natural-95);
  }
  &.natural-98 {
    background-color: var(--color-natural-98);
  }
  &.natural-100 {
    background-color: var(--color-natural-100);
  }
  &.h32-search {
    width: 32px;
    height: 32px;
    -webkit-mask-image: url('../images/icon-h32-search.svg');
    mask-image: url('../images/icon-h32-search.svg');
  }
  &.h32-cart {
    width: 32px;
    height: 32px;
    -webkit-mask-image: url('../images/icon-h32-cart.svg');
    mask-image: url('../images/icon-h32-cart.svg');
  }
  &.h32-user {
    width: 32px;
    height: 32px;
    -webkit-mask-image: url('../images/icon-h32-user.svg');
    mask-image: url('../images/icon-h32-user.svg');
  }
  &.h20-closed {
    width: 20px;
    height: 20px;
    -webkit-mask-image: url('../images/icon-h20-closed.svg');
    mask-image: url('../images/icon-h20-closed.svg');
  }
  &.h16-closed {
    width: 16px;
    height: 16px;
    -webkit-mask-image: url('../images/icon-h16-closed.svg');
    mask-image: url('../images/icon-h16-closed.svg');
  }
  &.h16-arrow-down {
    width: 16px;
    height: 16px;
    -webkit-mask-image: url('../images/icon-h16-arrow-down.svg');
    mask-image: url('../images/icon-h16-arrow-down.svg');
  }
}
/* 종료: 공통 > icon */

/* 시작: 공통 > badge */
el-badge-count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  width: fit-content;
  height: 20px;
  border-radius: 999px;
  background-color: var(--color-red-40);
  color: var(--color-natural-100);
  font-weight: 700 !important;
  overflow: hidden;
  &:has(el-more) {
    width: 30px;
  }
}
/* 종료: 공통 > badge */

/* 시작: 공통 > el-layer-dropdown */
el-layer-dropdown.dropdown-menu {
  width: 147px;
  min-width: 0;
  height: fit-content;
  background-color: var(--color-natural-100);
  border: none;
  border-radius: 20px;
  box-shadow: var(--color-boxShadow-3);
  padding: 14px;
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 8px;
        color: var(--color-natural-30);
        &:hover {
          color: var(--color-natural-0);
          overflow: hidden;
          border-radius: 9999px;
          background-color: var(--color-natural-90);
        }
      }
    }
  }

  &.small {
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    ul {
      li {
        a {
          padding: 8px 6px;
        }
      }
    }
  }
}
/* 종료: 공통 > el-layer-dropdown */

/* 시작: 레이아웃 > wrapper, container */
el-wrapper {
  width: 100%;
  position: relative;
}

el-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100dvh - var(--layout-footer-height));
  position: relative;
}
/* 종료: 레이아웃 > wrapper, container */

/* 시작: 레이아웃 > 상단 띠배너 */
component-top-banner {
  display: block;
  width: 100%;
}

el-top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--layout-top-banner-height);
  background-color: #fff;
  overflow: hidden;

  &.hide {
    display: none;
  }

  el-top-banner-content {
    width: var(--layout-width);
    height: 100%;
    position: relative;
    background-color: var(--color-natural-100);

    a {
      display: block;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
/* 종료: 레이아웃 > 상단 띠배너 */

/* 시작: 레이아웃 > 헤더 > el-header-top */
el-header-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: var(--layout-width);
  height: var(--layout-header-top-height);
  padding: var(--layout-padding);
  margin: 0 auto;

  .menu {
    display: flex;
    gap: 8px;
    color: var(--color-natural-30);

    & > li {
      display: flex;
      align-items: center;
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 10px;
        margin-right: 8px;
        background-color: var(--color-natural-80);
      }

      &:first-of-type {
        &:before {
          display: none;
        }
      }

      & > a {
        color: var(--color-natural-30);
        &:hover {
          color: var(--color-natural-0);
        }
      }

      el-dropdown-menu {
        button {
          display: flex;
          align-items: center;
          color: var(--color-natural-30);

          &:hover,
          &.show {
            color: var(--color-natural-0);
            el-icon {
              background-color: var(--color-natural-0);
            }
          }

          &.show {
            el-icon {
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  el-header-top-left {
    display: flex;
  }
}
/* 종료: 레이아웃 > 헤더 > el-header-top */

/* 시작: 레이아웃 > 헤더 > el-header-sticky */
@keyframes logoTextFade {
  0%,
  45% {
    opacity: 1;
  }
  50%,
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

component-header-sticky {
  display: block;
  width: 100%;
  position: sticky;
  top: -1px;

  &:has(.is-stuck) {
    z-index: var(--zindex-fixed);
  }
}

el-header-sticky {
  display: block;
  width: 100%;
  height: calc(var(--layout-header-sticky-height) + 1px);
  padding: 17px 0 16px;
  position: sticky;
  top: -1px;
  background-color: var(--color-natural-100);

  &.is-stuck {
    box-shadow: var(--color-boxShadow-4);
    z-index: var(--zindex-fixed);
  }

  el-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--layout-width);
    height: 100%;
    padding: var(--layout-padding);
    margin: 0 auto;

    el-header-content-left {
      display: flex;
      align-items: center;
      gap: 82px;
      height: 100%;

      el-logo {
        display: flex;
        height: 100%;

        a {
          display: flex;
          align-items: center;
          gap: 10.623px;
          height: 100%;
          padding: 4px 0 0.606px;

          img {
            width: auto;
            height: 100%;
          }

          el-logo-text {
            display: block;
            width: 149px;
            height: 100%;
            position: relative;

            & > div {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              height: 100%;
              background-color: var(--color-natural-100);
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              animation: logoTextFade 6s ease-out infinite;

              &:first-child {
                animation-delay: 0s;
              }

              &:last-child {
                animation-delay: 3s;
              }
            }

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }

      el-center {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 16px;

        el-search-area {
          display: block;
          width: 506px;
          height: 100%;
          position: relative;

          el-search-layer.dropdown-menu {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            border: 1px solid var(--color-primary);
            border-radius: 999px;
            overflow: hidden;
            background-color: var(--color-natural-100);

            &.show {
              height: fit-content;
              border-radius: 26px;
              border-color: var(--color-natural-100);
              box-shadow: var(--color-boxShadow-3);
            }

            el-search {
              display: flex;
              align-items: center;
              width: 100%;
              height: 50px;
              padding: 0 14px 0 0;

              button {
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px;
              }

              .form-control {
                box-shadow: none !important;
                border: none !important;
                caret-color: var(--color-natural-20);
                height: 100%;
                padding-left: 28px;
                color: var(--color-natural-0);

                &::placeholder {
                  color: var(--color-natural-50);
                  font-weight: 400;
                }
              }
            }

            el-search-addon {
              display: flex;
              flex-direction: column;
              width: 100%;
              padding: 0 16px 10px;

              el-addon-content {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid var(--color-natural-80);
                border-bottom: 1px solid var(--color-natural-80);
                padding: 14px 12px;

                &:before {
                  content: '';
                  width: 1px;
                  background-color: var(--color-natural-80);
                }

                el-recent {
                  order: -1;
                  display: flex;
                  flex-wrap: wrap;
                  width: 204px;
                  padding: 6px 0;
                  overflow: hidden;
                }

                el-popular {
                  display: flex;
                  flex-wrap: wrap;
                  width: 210px;
                  padding: 6px 0;
                  overflow: hidden;
                }

                el-addon-title {
                  flex-grow: 0;
                  flex-shrink: 0;
                  display: flex;
                  align-items: flex-start;
                  justify-content: space-between;
                  width: 100%;
                  height: 30px;
                  color: var(--color-natural-20);
                  font-weight: 700;

                  button {
                    text-decoration: underline;
                    text-decoration-color: var(--color-natural-20);
                    color: var(--color-natural-20);
                    font-weight: 600;
                  }
                }

                el-empty {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  height: calc(100% - 30px + 6px);
                  padding-bottom: 6px;
                  color: var(--color-natural-50);
                }

                ul {
                  display: flex;
                  flex-direction: column;
                  gap: 7px;
                  width: 100%;
                  height: calc(100% - 30px);

                  li {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    a {
                      color: var(--color-natural-20);
                      display: block;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                    }
                  }

                  &.recent-list {
                    li {
                      display: flex;
                      justify-content: space-between;

                      button {
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: flex;
                        width: 16px;
                        height: 16px;
                      }
                    }
                  }

                  &.popular-list {
                    li {
                      el-rank {
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20px;
                        padding-right: 5px;
                        font-weight: 700;
                        color: var(--color-primary);
                      }
                    }
                  }
                }
              }
              el-addon-close {
                display: flex;
                justify-content: flex-end;
                padding: 7px 10px 0 0;

                button {
                  padding: 6px;
                  color: var(--color-natural-20);
                }
              }
            }
          }
        }
        el-theme-switch {
          display: block;
          width: 139px;
          height: 52px;
          background-color: var(--color-natural-100);
          border: 1px solid var(--color-natural-70);
          border-radius: 999px;
          position: relative;

          &:before {
            content: '';
            display: block;
            width: 74px;
            height: calc(100% + 2px);
            background-color: var(--color-blue-40);
            border-radius: 999px;
            position: absolute;
            left: 0;
            top: -1px;
            transition: all 0.2s ease-in-out;
          }

          &:has(#theme-personal-member:checked) {
            &:before {
              background-color: var(--color-orange-officecon);
              left: calc(100% - 74px);
            }
          }

          el-theme-switch-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;

            input {
              display: none;

              &:checked + label {
                color: var(--color-natural-100);
              }
            }

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              padding: 0 0 0 4px;
              font-weight: 600;
              cursor: pointer;
              transition: all 0.2s ease-in-out;

              &:last-of-type {
                padding: 0 4px 0 0;
              }
            }
          }
        }
      }
    }

    el-header-content-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 17px;
      height: 100%;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 48px;
        font-weight: 600;
        color: var(--color-natural-40);
        position: relative;

        el-badge-count {
          position: absolute;
          top: -4px;
          left: calc(50% + 3px);
        }

        &:hover {
          color: var(--color-natural-0);

          & el-icon {
            background-color: var(--color-natural-0);
          }
        }

        &:first-of-type {
          padding: 0 5px;
        }
      }
    }
  }
}
/* 종료: 레이아웃 > 헤더 > el-header-sticky */

/* 시작: 레이아웃 > 헤더 > el-header-gnb */
el-header-gnb {
  display: block;
  width: 100%;
  height: var(--layout-gnb-height);
  border-bottom: 1px solid var(--color-natural-90);

  el-gnb-container {
    display: block;
    width: var(--layout-width);
    padding: var(--layout-padding);
    margin: 0 auto;
  }
}
/* 종료: 레이아웃 > 헤더 > el-header-gnb */

/* 시작: 레이아웃 > 컨텐츠 */
el-main-header {
  display: block;
  width: 100%;

  el-main-header-container {
    display: block;
    width: var(--layout-width);
    padding: var(--layout-padding);
    margin: 0 auto;
  }
}

el-content {
  display: block;
  width: var(--layout-width);
  padding: var(--layout-padding);
  padding-bottom: 100px;
  min-height: 200px;
  margin: 0 auto;
}
/* 종료: 레이아웃 > 컨텐츠 */

/* 시작: 레이아웃 > footer */
el-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-natural-95);

  footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: var(--layout-width);
    height: var(--layout-footer-height);
    padding: var(--layout-padding);
    padding: 48px 20px 80px;
    color: var(--color-natural-30);

    ul {
      display: flex;
      gap: 8px;

      li {
        display: flex;
        align-items: center;

        &:before {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          margin-right: 8px;
          background-color: var(--color-natural-70);
        }

        &:first-of-type {
          &:before {
            display: none;
          }
        }

        a {
          color: var(--color-natural-30);
        }
      }
    }

    address {
      display: flex;
      flex-direction: column;
      gap: 10px;

      el-footer-logo {
        display: block;
        width: 130px;

        img {
          width: 100%;
          height: auto;
        }
      }

      el-address-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    .privacy-policy {
      color: var(--color-natural-0);
    }

    el-footer-cert-list {
      ul {
        display: flex;
        gap: 24px;

        li {
          height: 46px;
          position: relative;

          &:before {
            display: none;
          }

          button {
            display: flex;
            align-items: center;
            gap: 10px;

            & > el-label {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }

            &:hover + el-cert-layer {
              display: block;
            }
          }

          el-cert-layer {
            display: none;
            width: 310px;
            height: auto;
            position: absolute;
            bottom: calc(46px + 16px);
            left: -10px;
            overflow: hidden;
            background-color: var(--color-natural-100);
            box-shadow: var(--color-boxShadow-1);
            border-radius: 5px;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

/* 종료: 레이아웃 > footer */

/* 시작: 홈(home) > 레이아웃 */
el-home {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  width: 100%;

  el-home-content {
    flex-shrink: 0;
    display: block;
    width: var(--layout-home-content-width);
    min-height: 1500px;
    background-color: mediumpurple;
  }

  el-home-aside {
    flex-shrink: 0;
    display: block;
    width: var(--layout-home-aside-width);
    padding-top: 10px;
    position: sticky;
    top: calc(var(--layout-header-sticky-height) + 10px);

    & > aside {
      min-height: 500px;
      background-color: lightcoral;
    }
  }
}
/* 종료: 홈(home) > 레이아웃 */

/* 시작: 예시(example) */
el-examples-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px 0;
  border-bottom: 2px solid var(--color-blue-20);

  el-examples-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 16px;

    &.bg {
      background-color: #ebedf3;
    }
  }

  el-color-chip {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    color: rgb(129, 216, 42);
  }

  el-layer-dropdown.dropdown-menu {
    display: block;
    position: relative;
  }
}
/* 종료: 예시(example) */
