@charset "UTF-8";

/* 시작: css 공통 변수 */
:root {
  --color-blue-officecon: #202b9c;
  --color-blue-40: #4165f8;
  --color-blue-20: #c3e1ff;
  --color-blue-10: #f0f6ff;
  --color-blue-grayish: #778198;
  --color-blue-grayish-light: #c3c7d0;
  --color-purple-40: #6943d2;
  --color-purple-30: #8871ea;
  --color-orange-officecon: #ec6c23;
  --color-orange-20: #fedfb7;
  --color-red-40: #da3030;
  --color-red-30: #eb6161;
  --color-level-silver: #8b95ac;
  --color-level-gold: #b58e57;
  --color-level-diamond: #25a3b2;
  --color-natural-0: #000000;
  --color-natural-10: #3b3b3b;
  --color-natural-20: #4d4d4d;
  --color-natural-30: #7e7e7e;
  --color-natural-40: #949494;
  --color-natural-50: #aaaaaa;
  --color-natural-60: #d2d2d2;
  --color-natural-70: #dddddd;
  --color-natural-80: #e6e6e6;
  --color-natural-90: #efefef;
  --color-natural-95: #f5f5f5;
  --color-natural-98: #fafafa;
  --color-natural-100: #ffffff;
  --color-opacity-black-70: rgba(0, 0, 0, 0.7);
  --color-opacity-black-50: rgba(0, 0, 0, 0.5);
  --color-opacity-black-30: rgba(0, 0, 0, 0.3);
  --color-opacity-black-20: rgba(0, 0, 0, 0.2);
  --color-opacity-black-8: rgba(0, 0, 0, 0.08);
  --color-opacity-black-3: rgba(0, 0, 0, 0.03);
  --color-opacity-white-70: rgba(255, 255, 255, 0.7);
  --color-opacity-white-50: rgba(255, 255, 255, 0.5);
  --color-background-gradient-white: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  --color-background-gradient-gray: linear-gradient(
    to right,
    rgba(245, 245, 245, 0),
    rgba(245, 245, 245, 1)
  );
  --color-background-gradient-black: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.55)
  );
  --color-background-gradient-soft: linear-gradient(
    to right,
    rgba(255, 231, 231, 1),
    rgba(255, 243, 236, 1),
    rgba(235, 233, 255, 1)
  );
  --color-background-gradient-orangeRed: linear-gradient(
    to right,
    rgba(236, 108, 35, 1),
    rgba(241, 66, 53, 1)
  );
  --color-background-gradient-colorful: linear-gradient(
    to right,
    rgba(230, 97, 99, 1),
    rgba(243, 123, 85, 1),
    rgba(105, 100, 200, 1)
  );
  --color-boxShadow-1: 0px 0px 50px 0px rgba(0, 0, 0, 0.3); /* popup */
  --color-boxShadow-2: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); /* 이벤트 카드 배너 */
  --color-boxShadow-3: 0px 2px 20px 0px rgba(0, 0, 0, 0.2); /* dropdown menu, layer */
  --color-boxShadow-4: 0px 2px 10px 0px rgba(0, 0, 0, 0.1); /* 스크롤GNB메뉴, 메인배너, 필터 브랜드 버튼 */
  --color-boxShadow-5: 0px -4px 10px 0px rgba(0, 0, 0, 0.05); /* 서브 탭메뉴 */
  --layout-container-width: 1240px;
  --layout-container-padding: 20px;
  --layout-width: calc(
    var(--layout-container-width) + var(--layout-container-padding) * 2
  );
  --layout-padding: 0 var(--layout-container-padding);
  --layout-top-banner-height: 40px;
  --layout-header-top-height: 32px;
  --layout-header-sticky-height: 84px;
  --layout-footer-height: 352px;
  --zindex-fixed: 1030;
}
/* 종료: css 공통 변수 */

/* 시작: reset */
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Pretendard-Regular.subset.woff2') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Pretendard-Bold.subset.woff2') format('woff2');
}
html,
body,
input,
textarea,
button,
select,
table,
td,
th,
pre {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Malgun Gothic',
    '맑은 고딕', 'Segoe UI', Roboto, sans-serif;
  color: var(--color-natural-0);
  font-weight: 400;
  letter-spacing: -0.48px;
  font-size: 16px;
  line-height: 1.5;
}
body {
  /* bootstrap의 모달 팝업 노출 시 스크롤바 width 확보하는 padding 제거 */
  padding-right: 0 !important;
}
a {
  text-decoration: none;
  color: var(--color-gray-900);
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p,
pre {
  margin: 0;
  padding: 0;
  letter-spacing: -0.48px;
  color: var(--color-natural-0);
  line-height: 1.5;
}
li {
  list-style: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
/* 종료: reset */

/* 시작: 공통 - typography */
.typo-heading-sm {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
}
.typo-heading-md {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.9px;
}
.typo-heading-lg {
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -1.02px;
}
.typo-subtitle-sm {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.54px;
}
.typo-subtitle-md {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.6px;
}
.typo-subtitle-lg {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.66px;
}
.typo-body-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.42px;
}
.typo-body-md {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.45px;
}
.typo-body-lg {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.48px;
}
.typo-label-sm {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.33px;
}
.typo-label-md {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.36px;
}
.typo-label-lg {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.39px;
}
.typo-weight-default {
  font-weight: 400;
}
.typo-weight-em {
  font-weight: 600;
}
.typo-weight-bold {
  font-weight: 700;
}
/* 종료: 공통 - typography */

/* 시작: 레이아웃 > wrapper, container */
el-wrapper {
  width: 100%;
  position: relative;
}
el-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100dvh - var(--layout-footer-height));
  position: relative;
}
/* 종료: 레이아웃 > wrapper, container */

/* 시작: 공통 - 상단 띠배너 */
el-top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--layout-top-banner-height);
  background-color: rgba(0, 70, 196, 1);
  overflow: hidden;
  &.hide {
    display: none;
  }
  el-top-banner-content {
    width: var(--layout-width);
    height: 100%;
    position: relative;
    background-color: red;
  }
}
/* 종료: 공통 - 상단 띠배너 */

/* 시작: 레이아웃 > 헤더 */
el-header-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: var(--layout-width);
  height: var(--layout-header-top-height);
  padding: var(--layout-padding);
  margin: 0 auto;
  el-header-top-left {
    display: flex;
  }
}
el-header-sticky {
  display: block;
  width: 100%;
  height: calc(var(--layout-header-sticky-height) + 1px);
  padding: 17px 0 16px;
  position: sticky;
  top: -1px;
  background-color: var(--color-natural-100);
  z-index: var(--zindex-fixed);
  &.is-stuck {
    box-shadow: var(--color-boxShadow-4);
  }
  el-header-content {
    display: block;
    width: var(--layout-width);
    padding: var(--layout-padding);
    margin: 0 auto;
  }
}
el-header-gnb {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-natural-90);
  el-gnb-container {
    display: block;
    width: var(--layout-width);
    padding: var(--layout-padding);
    margin: 0 auto;
  }
}
/* 종료: 레이아웃 > 헤더 */

/* 시작: 레이아웃 > 메인(컨텐츠) */
el-main-header {
  display: block;
  width: 100%;
  el-main-header-container {
    display: block;
    width: var(--layout-width);
    padding: var(--layout-padding);
    margin: 0 auto;
  }
}
el-content {
  display: block;
  width: var(--layout-width);
  padding: var(--layout-padding);
  min-height: 200px;
  margin: 0 auto;
}
/* 종료: 레이아웃 > 메인(컨텐츠) */

/* 시작: 레이아웃 > footer */
el-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: var(--layout-footer-height);
  background-color: var(--color-natural-95);
  el-footer-content {
    display: block;
    width: var(--layout-width);
    padding: var(--layout-padding);
  }
}
/* 종료: 레이아웃 > footer */
